body {
    background-color: white;
    font-family: 'Lora', serif;
    margin: 0 auto;
    width: 100%;

}

header {
    padding: 30px 0px;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

}

.box {
    display: inline-block;
    text-align: center;
    width: 33%;

}

header nav ul li {
    border-right: 1px solid firebrick;
    display: inline;
    padding: 20px 20px;


}

header nav ul li:last-child {
    border-right: none;


}



header li a {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    color: navy;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;

}


header li a:hover {
    color: white;
    font-size: 1.55em;
    color: firebrick;
    opacity: 0.8;


}

.icons {
    text-align: right;
    padding-right: 20px;
}




/* Main Styling */
main {
    background-color: navy;
    padding-top: 50px;

}

.introMessage {
    color: white;
    font-size: 2.4em;

    text-align: center;
    font-family: 'Kaushan Script', cursive;

}

.bord {
    height: 5px;
    width: 120px;
    background-color: white;
    margin-top: -30px;
}

.para {
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    text-align: center;
    color: white;

}

.para1 {
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    text-align: center;
    color: firebrick;

}

#skills {
    background-color: white;
    padding: 40px 0px;
}

.skillsheading {
    color: navy;
    font-size: 2.1em;

    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin: 5px 0px;
}

.bord1 {
    height: 5px;
    width: 50px;
    background-color: firebrick;
    margin-top: -30px;
}

.personal {
    max-width: 60%;
}

.box3 {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.para1 {
    max-width: 60%;
}

.skillsMessage {
    color: firebrick;
    font-size: 2.4em;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

/* hobbies section start */
#hobbies {
    margin: -32px 0px;
    padding: 40px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))),
        url(../images/filler.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url(../images/filler.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.card {
    max-width: 50%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 0px 0px 10px 0px;
}

.card.img {
    border-radius: 5px;
}

.cardHeader {
    font-family: 'Old Standard TT', serif;
    font-size: 1.7em;
    text-align: center;

}

.para2 {
    font-family: 'Courgette', cursive;
    padding: 0px 10px 0px 10px;
    font-size: 1.3em;
    text-align: center;
    color: dimgrey;

}

.allCards {
    padding: 70px 0px;
}

.secondRowCard {
    position: absolute;
}

.football {
    padding: 60px 0px;
}


/* end of hobbies styling */

/*start of Work experience sytling */

#workExperience {
    background-color: gainsboro;
    padding: 40px 0px;
}

.experienceMessage {
    color: navy;
    font-size: 2.4em;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

.bord2 {
    height: 5px;
    width: 120px;
    background-color: firebrick;
    margin-top: -30px;
}

.box4 {
    display: inline-block;
    width: 49%;
    text-align: center;
    margin-left: 7px;
}

.workbackgroundImage {

    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 150))),
        url(../images/computer.jpg);

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 150)),
        url(../images/computer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.salesbackgroundImage {

    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 150))),
        url(../images/sales.jpg);

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 150)),
        url(../images/sales.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.para3 {
    font-family: 'Courgette', cursive;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

/* end of Work Experience styling */

/* Contact styling */

/* end of contact styling */
/* end of main styling */

/* Start of footer styling */
footer {
    padding-top: 50px;
}

footer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

footer ul li {
    border-right: 1px solid firebrick;
    display: inline;
    padding: 20px 20px;

}

footer li a {
    font-family: 'Courgette', cursive;
    font-size: 1em;
    color: navy;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

footer li:last-child {
    border-right: none;
}

footer li a:hover {
    font-size: 1.05em;
    color: firebrick;
    opacity: 0.8;


}

.footerText {
    color: navy;
    text-align: center;
    margin-top: 50px;
}
