html {
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Lora', serif;
    margin: 0 auto;
    width: 100%;

}

header {
    padding: 30px 0px;
    width: 100%;

}

#header {
    position: fixed;
    z-index: 1;
}

header nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

}

.box {
    display: inline-block;
    text-align: center;
    width: 33%;

}

header nav ul li {
    border-right: 1px solid firebrick;
    display: inline;
    padding: 20px 20px;


}

header nav ul li:last-child {
    border-right: none;


}



header li a {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    color: firebrick;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;

}


header li a:hover {
    color: white;
    font-size: 1.55em;
    color: black;
    opacity: 0.8;


}

.logo {
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
}

.icons {
    text-align: right;
    padding-right: 20px;
}




/* Main Styling */
main {
    background-color: firebrick;
    padding-top: 120px;

}

.introMessage {
    color: white;
    font-size: 2.4em;

    text-align: center;
    font-family: 'Kaushan Script', cursive;


}

.Bord {
    background-color: white;
    height: 5px;
    width: 180px;
    margin-top: -15px;
    margin-bottom: 50px;
}

.para {
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    text-align: center;
    color: white;

}

.btn {
    padding: 15px 50px;
    font-size: 1.3em;
    font-family: 'Lora', serif;
    background-color: firebrick;
    color: white;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 100px;
    border-radius: 5px;
}



.btn:hover {
    background-color: white;
    color: firebrick;
}




#mainBackground {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(30, 0, 0, 70))),
        url(../images/background.jpg);
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(30, 0, 0, 70)),
        url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.secondMainSection {
    width: 100% !important;
    display: block;
    position: relative;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

}

.box1 {
    display: inline-block;
    width: 49%;

}

.message {
    color: white;
    font-size: 2.4em;
    font-family: 'Kaushan Script', cursive;
    text-align: center;

}

.whatsNew {
    position: absolute;
    top: 80px;
    z-index: 2;

}

.para1 {
    font-family: 'Courgette', cursive;
    font-size: 1.7em;
    text-align: center;
    color: white;
}

#portfolio {
    padding-top: 20px;
    border-bottom: 3px solid white;
}

.Java {
    font-family: 'Arbutus Slab', serif;
    padding-top: 30px;
    padding-bottom: 40px;
}

.Bord1 {
    background-color: white;
    height: 5px;
    width: 100px;
    margin-top: -43px;
    margin-bottom: 50px;
}

.box2 {
    display: inline-block;
    text-align: center;
    width: 32%;


    text-align: center;

}

.image {
    border: 3px solid white;
}

/* end of main styling */

/* Start of footer styling */
footer {
    padding-top: 50px;
}

footer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

footer ul li {
    border-right: 1px solid firebrick;
    display: inline;
    padding: 20px 20px;

}

footer li a {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 1em;
    color: firebrick;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

footer li:last-child {
    border-right: none;
}

footer li a:hover {
    color: white;
    font-size: 1.05em;
    color: black;
    opacity: 0.8;


}

.footerText {
    color: firebrick;
    text-align: center;
    margin-top: 50px;
}
