.firstbutton {
    padding: 15px 50px;
    font-size: 1.3em;
    font-family: 'Lora', serif;
    background-color: firebrick;
    color: white;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 100px;
    border-radius: 5px;
}



.firstbutton:hover {
    background-color: white;
    color: firebrick;
}


.secondbutton {
    padding: 15px 50px;
    font-size: 1.3em;
    font-family: 'Lora', serif;
    background-color: firebrick;
    color: white;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 100px;
    border-radius: 5px;
}



.secondbutton:hover {
    background-color: white;
    color: firebrick;
}

.text {
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    text-align: center;
    color: white;

}

.inputText {
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: navy;
    padding: 10px 20px;

}

#clickHere {
    padding: 15px 50px;
    font-size: 1.3em;
    font-family: 'Lora', serif;
    background-color: firebrick;
    color: white;
    margin-top: 50px;
    font-weight: 500;
    margin-bottom: 100px;
    border-radius: 5px;
}

#clickHere:hover {
    background-color: white;
    color: firebrick;
}

#clickHere::-webkit-input-placeholder {
    color: dimgrey;
}

#clickHere:-ms-input-placeholder {
    color: dimgrey;
}

#clickHere::placeholder {
    color: dimgrey;
}


.input {
    font-family: 'Courgette', cursive;
    font-size: 1.2em;
    text-align: center;
    color: red;

}

.noInput::-webkit-input-placeholder {
    color: red;
}

.noInput:-ms-input-placeholder {
    color: red;
}

.noInput::placeholder {
    color: red;
}
