body {
    background-color: white;
    font-family: 'Lora', serif;
    margin: 0 auto;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 1))),
        url(../images/backgroundProject.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
        url(../images/backgroundProject.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header {
    padding: 30px 0px;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

}

.box {
    display: inline-block;
    text-align: center;
    width: 33%;

}

header nav ul li {
    border-right: 1px solid white;
    display: inline;
    padding: 20px 20px;


}

header nav ul li:last-child {
    border-right: none;


}



header li a {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;

}


header li a:hover {
    color: white;
    font-size: 1.55em;
    opacity: 0.8;

}

.icons {
    text-align: right;
    padding-right: 20px;
}

/* main styling */
.introMessage {
    color: white;
    font-size: 2.4em;

    text-align: center;
    font-family: 'Kaushan Script', cursive;

}

.para {
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    text-align: center;
    color: white;

}

/* end of main styling */

/* footer styling  */
footer {
    padding-top: 50px;
}

footer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

footer ul li {
    border-right: 1px solid white;
    display: inline;
    padding: 20px 20px;

}

footer li a {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 1em;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

footer li:last-child {
    border-right: none;
}

footer li a:hover {
    color: white;
    font-size: 1.05em;
    opacity: 0.8;


}

.footerText {
    color: white;
    text-align: center;
    margin-top: 50px;
}
